    
    .Buscar{
    height: 30px; color: white; background-color: rgb(20, 177, 125);
    }
    .textBox{
    height: 20px; height: 20px;text-align: center;
    }
    .CenterScreen{
        margin-left: auto; margin-right: auto;
    }
    .CenterText{
        text-align: center;
    }
